In [1]:
from google.colab import files
uploaded = files.upload()

Saving country_vaccinations.csv to country_vaccinations.csv

In [58]:
import pandas as pd

country_vaccinations = pd.read_csv('country_vaccinations.csv')
country_vaccinations

        country  ...                                     source_website
0     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
...         ...  ...                                                ...
1187      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1188      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1189      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1190      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1191      Wales  ...  https://coronavirus.data.gov.uk/details/health...

[1192 rows x 15 columns]

In [59]:
country_vaccinations.shape

(1192, 15)

In [60]:
country_vaccinations.isna().sum()

country                                   0
iso_code                                145
date                                      0
total_vaccinations                      442
people_vaccinated                       487
people_fully_vaccinated                1052
daily_vaccinations_raw                  611
daily_vaccinations                       56
total_vaccinations_per_hundred          442
people_vaccinated_per_hundred           487
people_fully_vaccinated_per_hundred    1052
daily_vaccinations_per_million           56
vaccines                                  0
source_name                               0
source_website                            0
dtype: int64

In [61]:
country_vaccinations.info() # country, iso_code, date, vaccines, source_name, source_website

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192 entries, 0 to 1191
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              1192 non-null   object
 1   iso_code                             1047 non-null   object
 2   date                                 1192 non-null   object
 3   total_vaccinations                   750 non-null    float64
 4   people_vaccinated                    705 non-null    float64
 5   people_fully_vaccinated              140 non-null    float64
 6   daily_vaccinations_raw               581 non-null    float64
 7   daily_vaccinations                   1136 non-null   float64
 8   total_vaccinations_per_hundred       750 non-null    float64
 9   people_vaccinated_per_hundred        705 non-null    float64
 10  people_fully_vaccinated_per_hundred  140 non-null    float64
 11  daily_vaccinations_per_million       1136 non-null   float64
 12  vaccines                             1192 non-null   object
 13  source_name                          1192 non-null   object
 14  source_website                       1192 non-null   object
dtypes: float64(9), object(6)
memory usage: 139.8+ KB

In [62]:
for i in range(len(country_vaccinations.dtypes)):
  if country_vaccinations.dtypes[i] == 'object':
    print(country_vaccinations.columns[i])

country
iso_code
date
vaccines
source_name
source_website

In [63]:
for i in country_vaccinations.columns:
  if country_vaccinations[i].isna().sum() > country_vaccinations.shape[0] // 2:
    country_vaccinations = country_vaccinations.drop(i, axis = 1)

In [64]:
country_vaccinations

        country  ...                                     source_website
0     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
...         ...  ...                                                ...
1187      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1188      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1189      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1190      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1191      Wales  ...  https://coronavirus.data.gov.uk/details/health...

[1192 rows x 12 columns]

In [65]:
country_vaccinations.shape # -3 column

(1192, 12)

In [66]:
for i in country_vaccinations.columns:
  if country_vaccinations.dtypes[i] == 'float64':
    mean_class = country_vaccinations[i].mean()
    country_vaccinations[i] = country_vaccinations[i].fillna(round(mean_class))

In [67]:
country_vaccinations

        country  ...                                     source_website
0     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
...         ...  ...                                                ...
1187      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1188      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1189      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1190      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1191      Wales  ...  https://coronavirus.data.gov.uk/details/health...

[1192 rows x 12 columns]

In [69]:
country_vaccinations = country_vaccinations.dropna()

In [71]:
country_vaccinations.shape

(1047, 12)

In [68]:
country_vaccinations['vaccines'].value_counts()

Pfizer/BioNTech                        639
Moderna, Pfizer/BioNTech               217
Oxford/AstraZeneca, Pfizer/BioNTech    176
Sputnik V                               53
Pfizer/BioNTech, Sinopharm              44
CNBG, Sinovac                           37
Sinovac                                 13
Sinopharm                                8
Covaxin, Covishield                      5
Name: vaccines, dtype: int64

In [72]:
country_vaccinations['country'].value_counts()

China                   37
Canada                  37
Israel                  33
United Kingdom          31
United States           31
Russia                  30
Bahrain                 28
Switzerland             28
Mexico                  27
Chile                   27
Lithuania               26
Italy                   25
Estonia                 24
Norway                  24
Greece                  24
Germany                 24
Romania                 24
Denmark                 24
Latvia                  23
Malta                   23
Costa Rica              23
Belgium                 23
Argentina               23
Poland                  23
Hungary                 23
Oman                    22
Sweden                  22
Bulgaria                22
Iceland                 22
Luxembourg              21
Croatia                 21
Finland                 21
Portugal                19
Ireland                 18
Slovenia                17
Spain                   17
United Arab Emirates    16
France                  16
Austria                 16
Slovakia                15
Netherlands             15
Czechia                 14
Saudi Arabia            12
Gibraltar               10
Cyprus                  10
Turkey                   8
Seychelles               8
Serbia                   7
Brazil                   5
India                    5
Singapore                2
Kuwait                   1
Name: country, dtype: int64

In [73]:
maxx = country_vaccinations.loc[country_vaccinations['total_vaccinations']==country_vaccinations['total_vaccinations'].max()]
print(maxx)

            country  ...                                     source_website
1153  United States  ...  https://covid.cdc.gov/covid-data-tracker/#vacc...

[1 rows x 12 columns]