In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving country_vaccinations.csv to country_vaccinations (2).csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
uploaded = pd.read_csv('country_vaccinations.csv')
uploaded

        country  ...                                     source_website
0     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
...         ...  ...                                                ...
1187      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1188      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1189      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1190      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1191      Wales  ...  https://coronavirus.data.gov.uk/details/health...

[1192 rows x 15 columns]

In [ ]:
print(uploaded.shape)

(1192, 15)

In [ ]:
print(uploaded.isna().sum())

country                                   0
iso_code                                145
date                                      0
total_vaccinations                      442
people_vaccinated                       487
people_fully_vaccinated                1052
daily_vaccinations_raw                  611
daily_vaccinations                       56
total_vaccinations_per_hundred          442
people_vaccinated_per_hundred           487
people_fully_vaccinated_per_hundred    1052
daily_vaccinations_per_million           56
vaccines                                  0
source_name                               0
source_website                            0
dtype: int64

In [ ]:
uploaded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192 entries, 0 to 1191
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              1192 non-null   object
 1   iso_code                             1047 non-null   object
 2   date                                 1192 non-null   object
 3   total_vaccinations                   750 non-null    float64
 4   people_vaccinated                    705 non-null    float64
 5   people_fully_vaccinated              140 non-null    float64
 6   daily_vaccinations_raw               581 non-null    float64
 7   daily_vaccinations                   1136 non-null   float64
 8   total_vaccinations_per_hundred       750 non-null    float64
 9   people_vaccinated_per_hundred        705 non-null    float64
 10  people_fully_vaccinated_per_hundred  140 non-null    float64
 11  daily_vaccinations_per_million       1136 non-null   float64
 12  vaccines                             1192 non-null   object
 13  source_name                          1192 non-null   object
 14  source_website                       1192 non-null   object
dtypes: float64(9), object(6)
memory usage: 139.8+ KB

In [ ]:
#Тип данных обьект мы считаем за категориальный признак
for i in range(len(uploaded.dtypes)):
  if uploaded.dtypes[i] == 'object':
    print(uploaded.columns[i], uploaded.dtypes[i])

country object
iso_code object
date object
vaccines object
source_name object
source_website object

In [ ]:
uploaded = uploaded.drop(['people_fully_vaccinated' , 'daily_vaccinations_raw' , 'people_fully_vaccinated_per_hundred'], axis=1)
uploaded.isna().sum()

country                             0
iso_code                          145
date                                0
total_vaccinations                442
people_vaccinated                 487
daily_vaccinations                 56
total_vaccinations_per_hundred    442
people_vaccinated_per_hundred     487
daily_vaccinations_per_million     56
vaccines                            0
source_name                         0
source_website                      0
dtype: int64