In [1]:
import pandas as pd # импрортируем библиотеки
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from keras.models import Sequential
from keras.layers import Dense
from lightgbm import LGBMClassifier

In [2]:
from google.colab import files
uploaded = files.upload()

Saving train (7).csv to train (7).csv

In [3]:
df = pd.read_csv("train (7).csv")
df

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [4]:
df.shape # 1)размерность датасета 2000 строк, 21 столбец

(2000, 21)

In [5]:
df['price_range'].value_counts() # 2)соотношение классов

3    500
2    500
1    500
0    500
Name: price_range, dtype: int64

In [6]:
X =  df.drop(['price_range'], axis = 1) # выделяем вектор признаков X (X - вектор признаков исходного набора)
y = df['price_range'] # выделяем вектор ответов y

In [7]:
# дерево решений
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=1/3, random_state=42) 

tree = DecisionTreeClassifier() # создаем модель 


tree.fit(X_train, y_train) # обучение модели
y_pred_tree = tree.predict(X_test) # предсказываем значения


print("Accuracy" , accuracy_score(y_test, y_pred_tree, ))

Accuracy 0.8050974512743628

In [8]:
# ансамбль LightGBM

modelLGBM = LGBMClassifier()
modelLGBM.fit(X_train, y_train)

print(modelLGBM.score(X_test, y_test))

0.904047976011994

In [9]:
# 3) Классификация – отнесение объекта к одной из категорий на основании его признаков.
# 4) Ансамблевые методы — это парадигма машинного обучения, в которой несколько моделей обучаются для решения одной и той же проблемы и объединяются для повышения производительности.
# 5) Нейронная сеть — это последовательность нейронов, соединенных между собой синапсами. Нейронная сеть при помощи искусственных нейронов моделирует работу человеческого мозга (нейронов), решающего определенную задачу, самообучается с учетом предыдущего опыта.
# 6) Accuracy, Recall, Precision, F-мера

In [10]:
X = df.iloc[:,0:8]  # y = ax [диапазон строк, диапазон столбцов]
Y = df.iloc[:,20]

In [11]:
# нейронка: 1 входной слой (8 входных признаков), 2 скрытых слоя

model = Sequential() # создаем модель

model.add(Dense(1, input_dim=8, activation='relu'))

model.add(Dense(15, activation='relu'))
model.add(Dense(8, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=['accuracy', 'Recall'])

In [13]:
model.fit(X, Y) # обучение модели

63/63 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2500 - recall: 1.0000

In [ ]:
# дерево решений показало точность 79%
# ансамбль LightGBM показал точность 90%
# нейронка дала точность 25% и 100% recall
# Самая большая точность была у ансамбля LightGBM,у дерева решений 80%, у нейронки recall 100%, но плохая точность (25%); В связи с этим получается, что ансамбль оказался лучшим методом нахождения точности.