In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score

In [19]:
from google.colab import files
uploaded = files.upload()

Saving train (7).csv to train (7).csv

In [20]:
df = pd.read_csv("train (7).csv")
df

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [ ]:
# 1) Размерность датасета 41000

In [23]:
# 2) Cоотношение классов
df['price_range'].value_counts()

3    500
2    500
1    500
0    500
Name: price_range, dtype: int64

In [ ]:
# 3) Классификация - система группировки объектов исследования или наблюдения в соответствии с их общими признаками.
# 4) Ансамблевые методы — это парадигма машинного обучения, в которой несколько моделей (часто называемых слабыми или базовыми моделями) обучаются для решения одной и той же проблемы и объединяются для повышения производительности.
# 5) Нейронная сеть при помощи искусственных нейронов моделирует работу человеческого мозга (нейронов), решающего определенную задачу, самообучается с учетом предыдущего опыта. И с каждым разом совершает все меньше ошибок. Нейросети являются одним из видов машинного обучения, а не отдельным инструментом.
# 6) Метрики: Accuracy, Precision, Recall, score

In [47]:
#decision tree
X = df.drop(['price_range'], axis = 1)
y = df['price_range']

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=1/3, random_state=42)

accuracy_score = []
for i in range(1,21):
    tree = DecisionTreeClassifier(criterion='gini', max_depth=4, random_state=1)
    tree.fit(X_train,y_train)
    answers = tree.predict(X_test)
    accuracy_score.append(tree.score(X_test,y_test))
print(max(accuracy_score))

0.7931034482758621

In [48]:
#XGBoost

modelXGB = XGBClassifier()
modelXGB.fit(X_train, y_train)

print(modelXGB.score(X_test, y_test))

0.8920539730134932

In [28]:
X = df.iloc[:, :10]
Y = df.iloc[:, 10]

modelNeuroph = Sequential()
modelNeuroph.add(Dense(1, input_dim = 10, activation = 'relu'))
modelNeuroph.add(Dense(10, activation = 'relu'))
modelNeuroph.add(Dense(1, activation = 'sigmoid'))
modelNeuroph.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ['accuracy', 'Recall'])
modelNeuroph.fit(X, Y, epochs = 10, batch_size = 10)

y_pred = modelNeuroph

Epoch 1/10
200/200 [==============================] - 1s 1ms/step - loss: -1691.0306 - accuracy: 0.0542 - recall: 1.0000
Epoch 2/10
200/200 [==============================] - 0s 1ms/step - loss: -12279.8507 - accuracy: 0.0571 - recall: 1.0000
Epoch 3/10
200/200 [==============================] - 0s 1ms/step - loss: -46713.2574 - accuracy: 0.0529 - recall: 1.0000
Epoch 4/10
200/200 [==============================] - 0s 992us/step - loss: -121559.1508 - accuracy: 0.0467 - recall: 1.0000
Epoch 5/10
200/200 [==============================] - 0s 1000us/step - loss: -262038.8786 - accuracy: 0.0640 - recall: 1.0000
Epoch 6/10
200/200 [==============================] - 0s 957us/step - loss: -491636.3963 - accuracy: 0.0496 - recall: 1.0000
Epoch 7/10
200/200 [==============================] - 0s 1ms/step - loss: -832437.6051 - accuracy: 0.0561 - recall: 1.0000
Epoch 8/10
200/200 [==============================] - 0s 1ms/step - loss: -1258196.2183 - accuracy: 0.0441 - recall: 1.0000
Epoch 9/10
200/200 [==============================] - 0s 1ms/step - loss: -1688457.2407 - accuracy: 0.0478 - recall: 1.0000
Epoch 10/10
200/200 [==============================] - 0s 966us/step - loss: -2348005.3818 - accuracy: 0.0488 - recall: 1.0000