In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [97]:
from google.colab import files
uploaded = files.upload()

Saving country_vaccinations.csv to country_vaccinations (2).csv

In [98]:
df = pd.read_csv("country_vaccinations.csv")
df

        country  ...                                     source_website
0     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
...         ...  ...                                                ...
1187      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1188      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1189      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1190      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1191      Wales  ...  https://coronavirus.data.gov.uk/details/health...

[1192 rows x 15 columns]

In [99]:
df.shape

(1192, 15)

In [100]:
df.isna().sum()

country                                   0
iso_code                                145
date                                      0
total_vaccinations                      442
people_vaccinated                       487
people_fully_vaccinated                1052
daily_vaccinations_raw                  611
daily_vaccinations                       56
total_vaccinations_per_hundred          442
people_vaccinated_per_hundred           487
people_fully_vaccinated_per_hundred    1052
daily_vaccinations_per_million           56
vaccines                                  0
source_name                               0
source_website                            0
dtype: int64

In [101]:
df.dtypes # категориальные признаки, данные типа object

country                                 object
iso_code                                object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million         float64
vaccines                                object
source_name                             object
source_website                          object
dtype: object

In [102]:
df = df.drop(['people_fully_vaccinated', 'daily_vaccinations_raw', 'people_fully_vaccinated_per_hundred'], axis=1) 
df

        country  ...                                     source_website
0     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4     Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
...         ...  ...                                                ...
1187      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1188      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1189      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1190      Wales  ...  https://coronavirus.data.gov.uk/details/health...
1191      Wales  ...  https://coronavirus.data.gov.uk/details/health...

[1192 rows x 12 columns]

In [103]:
df[df['people_vaccinated_per_hundred'].isna()] = df['people_vaccinated_per_hundred'].mean()
df[df['total_vaccinations'].isna()] = df['total_vaccinations'].mean()
df[df['people_vaccinated'].isna()] = df['people_vaccinated'].mean()
df[df['daily_vaccinations'].isna()] = df['daily_vaccinations'].mean()
df[df['total_vaccinations_per_hundred'].isna()] = df['total_vaccinations_per_hundred'].mean()
df[df['daily_vaccinations_per_million'].isna()] = df['daily_vaccinations_per_million'].mean()
df.isna().sum()

country                            0
iso_code                          47
date                               0
total_vaccinations                 0
people_vaccinated                  0
daily_vaccinations                 0
total_vaccinations_per_hundred     0
people_vaccinated_per_hundred      0
daily_vaccinations_per_million     0
vaccines                           0
source_name                        0
source_website                     0
dtype: int64

In [104]:
df = df.drop(['iso_code'], axis = 1)
df.isna().sum()

country                           0
date                              0
total_vaccinations                0
people_vaccinated                 0
daily_vaccinations                0
total_vaccinations_per_hundred    0
people_vaccinated_per_hundred     0
daily_vaccinations_per_million    0
vaccines                          0
source_name                       0
source_website                    0
dtype: int64

In [111]:
df.shape

(1192, 11)

In [123]:
df['vaccines'].value_counts

<bound method IndexOpsMixin.value_counts of 0                                   2.06902
1                                   2.06902
2                                   2.06902
3                                   2.06902
4                                   2.06902
                       ...
1187                                2.06902
1188                                2.06902
1189    Oxford/AstraZeneca, Pfizer/BioNTech
1190    Oxford/AstraZeneca, Pfizer/BioNTech
1191    Oxford/AstraZeneca, Pfizer/BioNTech
Name: vaccines, Length: 1192, dtype: object>

In [110]:
len(df['source_name'].unique())

35