# Старт

In [151]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import  train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier

In [152]:
from google.colab import files
uploaded =files.upload()

Saving diabetes.csv to diabetes (1).csv

In [153]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [154]:
print(df.shape)
print(df.isna().sum())
print((df['Outcome']).value_counts())

(768, 9)
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64
0    500
1    268
Name: Outcome, dtype: int64

# KNN (StandardScaler)

In [155]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [156]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [157]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_st=scaler.fit_transform(X)
X_st

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [158]:
from sklearn.model_selection import  train_test_split

In [159]:
X_train,X_test,y_train,y_test=train_test_split(X_st,y,test_size=0.3,random_state=42)

In [160]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

scores=[]

for i in range(1,15):

  knn=KNeighborsClassifier(i)
  #log=LogisticRegression
  knn.fit(X_train,y_train)
  #answers=kmm.predict(X)
  scores.append(knn.score(X_test,y_test))

print(scores)

[0.6233766233766234, 0.670995670995671, 0.70995670995671, 0.6926406926406926, 0.6926406926406926, 0.6883116883116883, 0.7186147186147186, 0.683982683982684, 0.7012987012987013, 0.6926406926406926, 0.7012987012987013, 0.7142857142857143, 0.7142857142857143, 0.7186147186147186]

In [161]:
max_score=max(scores)
max_score

0.7186147186147186

In [162]:
knn=KNeighborsClassifier(5)

knn.fit(X_train,y_train)

y_pred=knn.predict(X_test)

confusion_matrix(y_test,y_pred)

array([[119,  32],
       [ 39,  41]])

In [163]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [164]:
KNN_SS_A=accuracy_score(y_test,y_pred)
KNN_SS_R=recall_score(y_test,y_pred)
KNN_SS_P=precision_score(y_test,y_pred)

In [165]:
print("Accuracy:",accuracy_score(y_test,y_pred))
print("Recall:",recall_score(y_test,y_pred))
print("Precision:",precision_score(y_test,y_pred))

Accuracy: 0.6926406926406926
Recall: 0.5125
Precision: 0.5616438356164384

# KNN (MinMaxScaler)

In [166]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [167]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [168]:
scaler=MinMaxScaler()
X_norm=scaler.fit_transform(X)
X_norm

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

In [169]:
X_train,X_test,y_train,y_test=train_test_split(X_norm,y,test_size=0.3,random_state=42)

In [170]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

scores=[]

for i in range(1,15):

  knn=KNeighborsClassifier(i)
  #log=LogisticRegression
  knn.fit(X_train,y_train)
  #answers=kmm.predict(X)
  scores.append(knn.score(X_test,y_test))

print(scores)

[0.6753246753246753, 0.6796536796536796, 0.6926406926406926, 0.696969696969697, 0.6796536796536796, 0.6666666666666666, 0.7142857142857143, 0.696969696969697, 0.7229437229437229, 0.7056277056277056, 0.7012987012987013, 0.6883116883116883, 0.6926406926406926, 0.6883116883116883]

In [171]:
max_score=max(scores)
max_score

0.7229437229437229

In [172]:
knn=KNeighborsClassifier(8)

knn.fit(X_train,y_train)

y_pred=knn.predict(X_test)

confusion_matrix(y_test,y_pred)

array([[128,  23],
       [ 47,  33]])

In [173]:
KNN_MMS_A=accuracy_score(y_test,y_pred)
KNN_MMS_R=recall_score(y_test,y_pred)
KNN_MMS_P=precision_score(y_test,y_pred)

In [174]:
print("Accuracy:",accuracy_score(y_test,y_pred))
print("Recall:",recall_score(y_test,y_pred))
print("Precision:",precision_score(y_test,y_pred))

Accuracy: 0.696969696969697
Recall: 0.4125
Precision: 0.5892857142857143

# LR (StandardScaler)

In [175]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [176]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [177]:
scaler=StandardScaler()
X_st=scaler.fit_transform(X)
X_st

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [178]:
X_train,X_test,y_train,y_test=train_test_split(X_st,y,test_size=0.3,random_state=42)

In [179]:
model=LogisticRegression()
    
model.fit(X_train,y_train)

y_pred=model.predict(X_test)

confusion_matrix(y_test,y_pred)

array([[120,  31],
       [ 30,  50]])

In [180]:
LR_SS_A=accuracy_score(y_test,y_pred)
LR_SS_R=recall_score(y_test,y_pred)
LR_SS_P=precision_score(y_test,y_pred)

In [181]:
print("Accuracy:",accuracy_score(y_test,y_pred))
print("Recall:",recall_score(y_test,y_pred))
print("Precision:",precision_score(y_test,y_pred))

Accuracy: 0.7359307359307359
Recall: 0.625
Precision: 0.6172839506172839

# LR (MinMaxScaler)

In [182]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [183]:
scaler=MinMaxScaler()
X_norm=scaler.fit_transform(X)
X_norm

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

In [184]:
X_train,X_test,y_train,y_test=train_test_split(X_norm,y,test_size=0.3,random_state=42)

In [185]:
model=LogisticRegression()
    
model.fit(X_train,y_train)

y_pred=model.predict(X_test)

confusion_matrix(y_test,y_pred)

array([[127,  24],
       [ 35,  45]])

In [186]:
LR_MMS_A=accuracy_score(y_test,y_pred)
LR_MMS_R=recall_score(y_test,y_pred)
LR_MMS_P=precision_score(y_test,y_pred)

In [187]:
print("Accuracy:",accuracy_score(y_test,y_pred))
print("Recall:",recall_score(y_test,y_pred))
print("Precision:",precision_score(y_test,y_pred))

Accuracy: 0.7445887445887446
Recall: 0.5625
Precision: 0.6521739130434783

# Результаты 1

In [188]:
print(" "*30)
print("_"*30)
print("KNN StandardScaler")
print(KNN_SS_A)
print(KNN_SS_R)
print(KNN_SS_P)
print("_"*30)
print(" "*30)
print(" "*30)
print("_"*30)
print("KNN MinMaxScaler")
print(KNN_MMS_A)
print(KNN_MMS_R)
print(KNN_MMS_P)
print("_"*30)
print(" "*30)
print(" "*30)
print("_"*30)
print("LR StandardScaler")
print(LR_SS_A)
print(LR_SS_R)
print(LR_SS_P)
print("_"*30)
print(" "*30)
print(" "*30)
print("_"*30)
print("LR MinMaxScaler")
print(LR_MMS_A)
print(LR_MMS_R)
print(LR_MMS_P)
print("_"*30)

______________________________
KNN StandardScaler
0.6926406926406926
0.5125
0.5616438356164384
______________________________


______________________________
KNN MinMaxScaler
0.696969696969697
0.4125
0.5892857142857143
______________________________


______________________________
LR StandardScaler
0.7359307359307359
0.625
0.6172839506172839
______________________________


______________________________
LR MinMaxScaler
0.7445887445887446
0.5625
0.6521739130434783
______________________________

In [189]:
#Самая лучшая модель - логистическая регрессия с нормализованными данными

# KNN (StandardScaler)(Cross-validation)

In [190]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [191]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [192]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_st=scaler.fit_transform(X)
X_st

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [193]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [194]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [195]:
kf=KFold(n_splits=5)
a=[]
b=0
for i in range(1,15):
  model=KNeighborsClassifier(i)

  cvs=cross_val_score(estimator=model,X=X_st,y=y,cv=kf,scoring='accuracy')
  #print(cvs)
  a.append(cvs.mean()) 
for i in range(0,len(a)):
  if a[i]>b:
    b=a[i]
    k=i
    print(i)

0
1
2
6
12

In [196]:
knn=KNeighborsClassifier(k)

cvs=cross_val_score(estimator=knn,X=X_st,y=y,cv=kf,scoring='accuracy')
print(cvs)
knn_st_cv=cvs.mean()
print(cvs.mean())

[0.73376623 0.70779221 0.73376623 0.79084967 0.7254902 ]
0.7383329089211441

# KNN (MinMaxScaler)(Cross-validation)

In [197]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [198]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [199]:
scaler=MinMaxScaler()
X_norm=scaler.fit_transform(X)
X_norm

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

In [200]:
kf=KFold(n_splits=5)
a=[]
b=0
for i in range(1,15):
  model=KNeighborsClassifier(i)

  cvs=cross_val_score(estimator=model,X=X_norm,y=y,cv=kf,scoring='accuracy')
  #print(cvs)
  a.append(cvs.mean()) 
for i in range(0,len(a)):
  if a[i]>b:
    b=a[i]
    k=i
    print(i)

0
1
2
3
6
12

In [201]:
knn=KNeighborsClassifier(k)

cvs=cross_val_score(estimator=knn,X=X_norm,y=y,cv=kf,scoring='accuracy')
knn_norm_cv=cvs.mean()
print(cvs.mean())

0.7461336049571343

# LR (StandardScaler)(Cross-validation)

In [202]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [203]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [204]:
scaler=StandardScaler()
X_st=scaler.fit_transform(X)
X_st

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [205]:
kf=KFold(n_splits=5)

model=LogisticRegression()

cvs=cross_val_score(estimator=model,X=X_st,y=y,cv=kf,scoring='accuracy')

In [206]:
lr_st_cv=cvs.mean()
print(cvs.mean())

0.7722094898565487

# LR (MinMaxScaler)(Cross-validation)

In [207]:
X=df.drop(["Outcome"],axis=1)
y=df["Outcome"]

In [208]:
scaler=MinMaxScaler()
X_norm=scaler.fit_transform(X)
X_norm

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

In [209]:
kf=KFold(n_splits=5)

model=LogisticRegression()

cvs=cross_val_score(estimator=model,X=X_norm,y=y,cv=kf,scoring='accuracy')

lr_norm_cv=cvs.mean()
print(cvs.mean())

0.7617859264918089

# Результаты 2

In [210]:
print(knn_st_cv)
print(knn_norm_cv)
print(lr_st_cv)
print(lr_norm_cv)

0.7383329089211441
0.7461336049571343
0.7722094898565487
0.7617859264918089

In [211]:
#наилучший показатель у Логистической регрессии со стандартизированными данными

# DT(StandardScaler)(Cross-validation)

In [212]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [213]:
X=df.drop(["Outcome"],axis=1)
y=df['Outcome']

In [214]:
scaler=StandardScaler()
X_st=scaler.fit_transform(X)
X_st

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [215]:
kf=KFold(n_splits=5)

tree=DecisionTreeClassifier(random_state=42)

cvs=cross_val_score(estimator=tree,X=X_st,y=y,cv=kf,scoring='accuracy')

In [216]:
print(cvs)
dt_st_cv=cvs.mean()
print(cvs.mean())

[0.70779221 0.61038961 0.73376623 0.80392157 0.71895425]
0.7149647737883033

# DT(MinMaxScaler)(Cross-validation)

In [217]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [218]:
X=df.drop(["Outcome"],axis=1)
y=df['Outcome']

In [219]:
scaler=MinMaxScaler()
X_norm=scaler.fit_transform(X)
X_norm

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

In [220]:
kf=KFold(n_splits=5)

tree=DecisionTreeClassifier(random_state=42)

cvs=cross_val_score(estimator=tree,X=X_norm,y=y,cv=kf,scoring='accuracy')

In [221]:
print(cvs)
dt_norm_cv=cvs.mean()
print(cvs.mean())

[0.72077922 0.61688312 0.73376623 0.79738562 0.71895425]
0.7175536881419233

# Результаты 3

In [222]:
print(dt_st_cv)
print(dt_norm_cv)

0.7149647737883033
0.7175536881419233

In [223]:
#Чуть лучше оказалась модель Дерева решений с нормализованными данными

# Результаты общие

In [224]:
print(KNN_SS_A)
print(KNN_MMS_A)
print(LR_SS_A)
print(LR_MMS_A)
print(knn_st_cv)
print(knn_norm_cv)
print(lr_st_cv)
print(lr_norm_cv)
print(dt_st_cv)
print(dt_norm_cv)

0.6926406926406926
0.696969696969697
0.7359307359307359
0.7445887445887446
0.7383329089211441
0.7461336049571343
0.7722094898565487
0.7617859264918089
0.7149647737883033
0.7175536881419233

In [ ]:
#самая лучшая модель Логистическая регрессия со стандартизированными данными