In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [4]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [5]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [30]:
APStest = pd.read_csv("test.csv",engine='python', encoding='utf-8', error_bad_lines=False)
APStest

       Unnamed: 0     id  ... Arrival Delay in Minutes             satisfaction
0               0  19556  ...                     44.0                satisfied
1               1  90035  ...                      0.0                satisfied
2               2  12360  ...                      0.0  neutral or dissatisfied
3               3  77959  ...                      6.0                satisfied
4               4  36875  ...                     20.0                satisfied
...           ...    ...  ...                      ...                      ...
25971       25971  78463  ...                      0.0  neutral or dissatisfied
25972       25972  71167  ...                      0.0                satisfied
25973       25973  37675  ...                      0.0  neutral or dissatisfied
25974       25974  90086  ...                      0.0                satisfied
25975       25975  34799  ...                      0.0  neutral or dissatisfied

[25976 rows x 25 columns]

In [31]:
APStrain = pd.read_csv("train.csv",engine='python', encoding='utf-8', error_bad_lines=False)
APStrain

        Unnamed: 0      id  ... Arrival Delay in Minutes             satisfaction
0                0   70172  ...                     18.0  neutral or dissatisfied
1                1    5047  ...                      6.0  neutral or dissatisfied
2                2  110028  ...                      0.0                satisfied
3                3   24026  ...                      9.0  neutral or dissatisfied
4                4  119299  ...                      0.0                satisfied
...            ...     ...  ...                      ...                      ...
103899      103899   94171  ...                      0.0  neutral or dissatisfied
103900      103900   73097  ...                      0.0                satisfied
103901      103901   68825  ...                     14.0  neutral or dissatisfied
103902      103902   54173  ...                      0.0  neutral or dissatisfied
103903      103903   62567  ...                      0.0  neutral or dissatisfied

[103904 rows x 25 columns]

In [32]:
print(APStrain.shape)
print('_'*30)
print(APStrain.isna().sum())
print('_'*30)
APStrain.info()

(103904, 25)
______________________________
Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64
______________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [33]:
print(APStest.shape)
print('_'*30)
print(APStest.isna().sum())
print('_'*30)
APStest.info()

(25976, 25)
______________________________
Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64
______________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [34]:
#удаляем ненужные столбцы
APStest = APStest.drop(['id','Unnamed: 0'], axis=1)
APStrain = APStrain.drop(['id','Unnamed: 0'], axis=1)

In [35]:
#разбиваем категориальные признаки с маеьким количеством уникальных значений на разные столбцы
APStest = pd.get_dummies(APStest, columns=['Gender','Customer Type','Type of Travel','Class','satisfaction'])
APStrain = pd.get_dummies(APStrain, columns=['Gender','Customer Type','Type of Travel','Class','satisfaction'])

In [36]:
#убираем пустые значения
APStest=APStest.dropna()

In [37]:
APStest

       Age  ...  satisfaction_satisfied
0       52  ...                       1
1       36  ...                       1
2       20  ...                       0
3       44  ...                       1
4       49  ...                       1
...    ...  ...                     ...
25971   34  ...                       0
25972   23  ...                       1
25973   17  ...                       0
25974   14  ...                       1
25975   42  ...                       0

[25893 rows x 29 columns]

In [38]:
#убираем пустые значения
APStrain=APStrain.dropna()

In [39]:
APStrain

        Age  ...  satisfaction_satisfied
0        13  ...                       0
1        25  ...                       0
2        26  ...                       1
3        25  ...                       0
4        61  ...                       1
...     ...  ...                     ...
103899   23  ...                       0
103900   49  ...                       1
103901   30  ...                       0
103902   22  ...                       0
103903   27  ...                       0

[103594 rows x 29 columns]

In [40]:
#логистическая регрессия со стандартизированными данными
X_train = APStrain.drop(['satisfaction_neutral or dissatisfied', 'satisfaction_satisfied'], axis = 1)
y_train = APStrain['satisfaction_satisfied']
X_test = APStest.drop(['satisfaction_neutral or dissatisfied', 'satisfaction_satisfied'], axis = 1)
y_test = APStest['satisfaction_satisfied']

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_st_train = scaler.fit_transform(X_train)
X_st_test = scaler.fit_transform(X_test)

model = LogisticRegression()
model.fit(X_st_train, y_train)
answers_pred = model.predict(X_st_train)
print(model.score(X_st_test, y_test))

0.8720889815780327

In [41]:
#логистическая регрессия с нормализованными данными
X_train = APStrain.drop(['satisfaction_neutral or dissatisfied', 'satisfaction_satisfied'], axis = 1)
y_train = APStrain['satisfaction_satisfied']
X_test = APStest.drop(['satisfaction_neutral or dissatisfied', 'satisfaction_satisfied'], axis = 1)
y_test = APStest['satisfaction_satisfied']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_norm_train = scaler.fit_transform(X_train)
X_norm_test = scaler.fit_transform(X_test)

model = LogisticRegression()
model.fit(X_norm_train, y_train)
answers_pred = model.predict(X_norm_train)
print(model.score(X_norm_test, y_test))

0.8724365658672228

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [42]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

y_pred = model.predict(X_st_test)


print("Accuracy:", accuracy_score(y_test,y_pred))
print("Recall:", recall_score(y_test,y_pred))
print("Precision:", precision_score(y_test,y_pred))

Accuracy: 0.8392615764878538
Recall: 0.7283765948086229
Precision: 0.8850636159521009

In [45]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

y_pred = model.predict(X_norm_test)


print("Accuracy:", accuracy_score(y_test,y_pred))
print("Recall:", recall_score(y_test,y_pred))
print("Precision:", precision_score(y_test,y_pred))

Accuracy: 0.8724365658672228
Recall: 0.8117025956885173
Precision: 0.8880438968040046

In [44]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[13453,  1075],
       [ 3087,  8278]])