In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import  train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import preprocessing
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

# Загрузка данных

In [ ]:
from google.colab import files
uploaded =files.upload()

Saving income_evaluation.csv to income_evaluation.csv

In [ ]:
df=pd.read_csv("income_evaluation.csv")
df

       age          workclass   fnlwgt  ...  hours-per-week   native-country  income
0       39          State-gov    77516  ...              40    United-States   <=50K
1       50   Self-emp-not-inc    83311  ...              13    United-States   <=50K
2       38            Private   215646  ...              40    United-States   <=50K
3       53            Private   234721  ...              40    United-States   <=50K
4       28            Private   338409  ...              40             Cuba   <=50K
...    ...                ...      ...  ...             ...              ...     ...
32556   27            Private   257302  ...              38    United-States   <=50K
32557   40            Private   154374  ...              40    United-States    >50K
32558   58            Private   151910  ...              40    United-States   <=50K
32559   22            Private   201490  ...              20    United-States   <=50K
32560   52       Self-emp-inc   287927  ...              40    United-States    >50K

[32561 rows x 15 columns]

# Анализ данных

In [ ]:
print(df.shape)

(32561, 15)

In [ ]:
df.dtypes

age                 int64
 workclass         object
 fnlwgt             int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 income            object
dtype: object

In [ ]:
print(df.isna().sum())

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

# Обработка данных

In [ ]:
m=preprocessing.LabelEncoder()
mapped=m.fit_transform(df[' income'])
df[' income']=mapped

In [ ]:
e=df.columns
for i in range(0,df.shape[1]):
  if (df.dtypes[i]=="object"):
    print(e[i])
    try:
      l=preprocessing.LabelEncoder()
      mapped=l.fit_transform(df[e[i]])
      df[e[i]]=mapped
    except TypeError:
      df=df.drop(e[i],axis=1)

 workclass
 education
 marital-status
 occupation
 relationship
 race
 sex
 native-country

In [ ]:
print(df.dtypes)

age                int64
 workclass         int64
 fnlwgt            int64
 education         int64
 education-num     int64
 marital-status    int64
 occupation        int64
 relationship      int64
 race              int64
 sex               int64
 capital-gain      int64
 capital-loss      int64
 hours-per-week    int64
 native-country    int64
 income            int64
dtype: object

# Подготовка данных

In [ ]:
X=df.drop([' income'],axis=1)

In [ ]:
y=df[" income"]

In [ ]:
scaler=StandardScaler()
X_st=scaler.fit_transform(X)
X_st

array([[ 0.03067056,  2.15057856, -1.06361075, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [ 0.83710898,  1.46373585, -1.008707  , ..., -0.21665953,
        -2.22215312,  0.29156857],
       [-0.04264203,  0.09005041,  0.2450785 , ..., -0.21665953,
        -0.03542945,  0.29156857],
       ...,
       [ 1.42360965,  0.09005041, -0.35877741, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [-1.21564337,  0.09005041,  0.11095988, ..., -0.21665953,
        -1.65522476,  0.29156857],
       [ 0.98373415,  0.77689313,  0.92989258, ..., -0.21665953,
        -0.03542945,  0.29156857]])

# Метод ближайших соседей

In [ ]:
kf=KFold(n_splits=5)
a=[]
b=0
for i in range(1,15):
  model=KNeighborsClassifier(i)

  cvs=cross_val_score(estimator=model,X=X_st,y=y,cv=kf,scoring='accuracy')
  #print(cvs)
  a.append(cvs.mean()) 
for i in range(0,len(a)):
  if a[i]>b:
    b=a[i]
    k=i
    print(i)

0
1
2
3
4
5
7
8
10
11
12

In [ ]:
knn=KNeighborsClassifier(k)

knn1=cross_val_score(estimator=knn,X=X_st,y=y,cv=kf,scoring='accuracy')
knn2=cross_val_score(estimator=knn,X=X_st,y=y,cv=kf,scoring='recall')
knn3=cross_val_score(estimator=knn,X=X_st,y=y,cv=kf,scoring="precision")

In [ ]:
print("Accuracy", knn1.mean())
print("Recall", knn2.mean())
print("precision",knn3.mean())

Accuracy 0.8346797427635749
Recall 0.5303854871672528
precision 0.7095382663177234

# Логистическая регрессия

In [ ]:
kf=KFold(n_splits=5)

model=LogisticRegression()

lr1=cross_val_score(estimator=model,X=X_st,y=y,cv=kf,scoring='accuracy')
lr2=cross_val_score(estimator=model,X=X_st,y=y,cv=kf,scoring='recall')
lr3=cross_val_score(estimator=model,X=X_st,y=y,cv=kf,scoring="precision")

In [ ]:
print("Accuracy", lr1.mean())
print("Recall", lr2.mean())
print("precision",lr3.mean())

Accuracy 0.8251589667008827
Recall 0.4554662154145247
precision 0.7151453618553228

# Дерево решений

In [ ]:
kf=KFold(n_splits=5)

tree=DecisionTreeClassifier(random_state=42)
tr1=cross_val_score(estimator=tree,X=X_st,y=y,cv=kf,scoring='accuracy')
tr2=cross_val_score(estimator=tree,X=X_st,y=y,cv=kf,scoring='recall')
tr3=cross_val_score(estimator=tree,X=X_st,y=y,cv=kf,scoring="precision")

In [ ]:
print("Accuracy", tr1.mean())
print("Recall", tr2.mean())
print("precision",tr3.mean())

Accuracy 0.8075611392976663
Recall 0.6191921731126564
precision 0.5968306171792679

# Метод опорных векторов

In [ ]:
svm = SVC()
svm1=cross_val_score(estimator=svm,X=X_train,y=y_train,cv=kf,scoring='accuracy')
svm2=cross_val_score(estimator=svm,X=X_train,y=y_train,cv=kf,scoring='recall')
svm3=cross_val_score(estimator=svm,X=X_train,y=y_train,cv=kf,scoring="precision")

In [ ]:
print("Accuracy", svm1.mean())
print("Recall", svm1.mean())
print("precision",svm1.mean())

Accuracy 0.7928746928746929
Recall 0.7928746928746929
precision 0.7928746928746929