In [2]:
from google.colab import files
upload = files.upload()

Saving diabetes.csv to diabetes.csv

In [30]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [5]:
df = pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [26]:
#Нормалтзованные данные
X = df.drop(['Outcome'], axis = 1)
y = df['Outcome']
scaler = MinMaxScaler()
X_norm = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state = 42)
scores_norm = []
for i in range(1, 15):
  knn = KNeighborsClassifier(i)
  knn.fit(X_train, y_train)
  aswer = knn.predict(X_test)
  scores_norm.append(knn.score(X_test, y_test))
print(scores_norm)
max_score = max(scores_norm)
scores_ind_norm = [i for i, v in enumerate(scores_norm) if v == max_score]
scores_ind_norm

[0.6753246753246753, 0.6796536796536796, 0.6926406926406926, 0.696969696969697, 0.6796536796536796, 0.6666666666666666, 0.7142857142857143, 0.696969696969697, 0.7229437229437229, 0.7056277056277056, 0.7012987012987013, 0.6883116883116883, 0.6926406926406926, 0.6883116883116883]

[8]

In [31]:
#Стандартизированные данные
X = df.drop(['Outcome'], axis = 1)
y = df['Outcome']
scaler = StandardScaler()
X_st = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_st, y, test_size=0.3, random_state = 42)
scores = []
for i in range(1, 15):
  knn = KNeighborsClassifier(i)
  knn.fit(X_train, y_train)
  aswer = knn.predict(X_test)
  scores.append(knn.score(X_test, y_test))
print(scores)
max_score = max(scores)
scores_ind_st = [i for i, v in enumerate(scores) if v == max_score]
scores_ind_st

[0.6233766233766234, 0.670995670995671, 0.70995670995671, 0.6926406926406926, 0.6926406926406926, 0.6883116883116883, 0.7186147186147186, 0.683982683982684, 0.7012987012987013, 0.6926406926406926, 0.7012987012987013, 0.7142857142857143, 0.7142857142857143, 0.7186147186147186]

[6, 13]

In [32]:
#Логистическая регрессия нормалтзованных данных
X = df.drop(['Outcome'], axis = 1)
y = df['Outcome']
scaler = MinMaxScaler()
X_norm = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state = 42)
model = LogisticRegression().fit(X_train, y_train)
answers_pred = model.predict(X_test)
print(model.score(X_test, y_test))

0.7445887445887446

In [33]:
#Логистическая регрессия стандартизированных данных
X = df.drop(['Outcome'], axis = 1)
y = df['Outcome']
scaler = StandardScaler()
X_st = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_st, y, test_size=0.3, random_state = 42)
model = LogisticRegression().fit(X_train, y_train)
answers_pred = model.predict(X_test)
print(model.score(X_test, y_test))

0.7359307359307359

In [ ]:
#Нормалтзованные данные: 0.7229437229437229
#Стандартизированные данные:  0.7186147186147186
#Логистическая регрессия нормализованных данных: 0.7445887445887446       самый лучший результат
#Логистическая регрессия стандартизированных данных: 0.7359307359307359